@use "../../sass/colors/colors" as *;
.cool-title {
  text-shadow: 0 0 8px;
  direction: rtl;
  -webkit-text-stroke: 1px;
  position: relative;
  z-index: 1000;
  @media (max-width: 500px) {
    font-size: 2rem !important;
  }
  .icon {
    transform: translate(5px, -12px);
  }
}
